<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Login Form</title>
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="wrap">
        <form action="#">
            <fieldset>
                <legend><h3>SignIn</h3></legend>
                <input type="text" name="email" class="email" placeholder="Email"/>
                <input type="password" name="psw" class="password" placeholder="Password"/>
                <h2><a style="text-decoration: none; color: gray;" href="http://localhost:3000">Or SignUp with</a></h2>
                <button class="facebook" href="#"><i class="fa fa-facebook"></i>Facebook</button>
                <button class="google-plus" href="#"><i class="fa fa-google-plus"></i>Google +</button>
                <button class="twitter" href="#"><i class="fa fa-twitter"></i>Twitter</button>
                <input type="submit" class="submit" value="Login">
            </fieldset>
        </form>
    </div>
</body>
</html>
